<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/madison.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/white-and-gray-bird-on-the-bag-of-brown-and-black-pig-66258.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Lorem Ipsum, HU</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam blanditiis, deserunt dolorem ea eaque explicabo illum laboriosam non odit optio perspiciatis quaerat quasi, rem rerum sint temporibus voluptas voluptatum!
    </ion-card-content>
  </ion-card>
</ion-content>
